.searchContainer {
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  min-height: 500px;
}
.searchMovieContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.searchTitle {
  font-size: 30px;
}
