.userContainer {
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  min-height: 500px;
}
.userMovieContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.userTitle {
  font-size: 30px;
}
